{
  "extends": [
    "standard",
    "standard-react",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "allowImportExportEverywhere": true
  },
  "rules": {
    "no-debugger": "warn",
    "comma-dangle": 0,
    "quotes": [2, "single", "avoid-escape"],
    "jsx-quotes": ["error", "prefer-double"],
    "react/jsx-no-bind": [1, {"ignoreRefs": false, "allowArrowFunctions": true, "allowBind": false}],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "no-unused-vars": [1],
    "no-return-assign": 0,
    "padded-blocks": 0,
    "prefer-promise-reject-errors": 0
  }
}
